* {
  /* border: 1px solid black; */
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin: 0;
}

.blu-btn {
  font-size: 16px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  border: none;
  background-color: hsl(231, 69%, 60%);
  box-shadow: 0 5px 10px rgba(83, 104, 223, 0.137);
}

.blu-btn:focus {
  outline: none;
}

.blu-btn:hover {
  cursor: pointer;
}

.blue-blob {
  position: absolute;
  background-color: hsl(231, 69%, 60%);
  height: 400px;
  width: 40%;
  z-index: 0;
}

.right {
  right: 0;
  border-radius: 200px 0 0 200px;
  margin: 100px 0;
}

.left {
  left: 0;
  border-radius: 0 200px 200px 0;
  margin: 150px 0;
}

.top-panel2 {
  z-index: 0;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 300px 50px 200px;
}

.header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-interact {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.pg-btn {
  height: 40px;
  width: 120px;
  margin: 0 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: white;
  color: hsl(0, 94%, 66%);
  border-color: hsl(0, 94%, 66%);
  text-transform: uppercase;
  font-size: 0.8em;
}

.route-txt:hover {
  cursor: pointer;
  color: hsl(229, 8%, 60%);
}

/* PAGE CONTENT */
.txt-dvdr-title {
  font-weight: 500;
}

.txt-dvdr {
  width: 540px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.txt-dvdr > p {
  color: hsl(229, 8%, 60%);
}

.content-cntr {
  margin: 0 200px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.top-panel1 {
  width: 36%;
}

.top-txt {
  color: hsl(229, 8%, 60%);
}

.top-btn {
  height: 50px;
  width: 150px;
  margin: 0 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: white;
  color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  box-shadow: 0 5px 10px rgba(83, 104, 223, 0.137);
}

.top-btn:hover {
  cursor: pointer;
}

.top-btn:focus {
  color: black;
}

/* TABS */

.tb-cntr {
  height: 70vh;
}

.tb-selectors {
  width: 750px;
  margin: 0 auto;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  display: flex;
  justify-content: space-between;
}

.tbSelector {
  border: none;
  background-color: white;
  width: 250px;
  height: 50px;
  font-size: 18px;
  color: hsl(229, 8%, 60%);
}

.tbSelector:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.tbSelector:focus {
  outline: none;
  color: black;
  border-bottom: 3px solid hsl(0, 94%, 66%);
}

.tbPage-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 50px auto;
  padding: 20px 0;
}

.tb-content {
  width: 50%;
  z-index: 0;
}

.tb-content > p {
  margin-right: 160px;
}

/* DISPLAY CARDS */

.cards-row {
  width: 1000px;
  height: 450px;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-between;
}

.card-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 10px 13px rgba(83, 104, 223, 0.137);
}

.card-logo {
  width: 100px;
  height: 100px;
}

.card-content {
  margin: 20px;
  text-align: center;
}

.card-desc {
  margin-top: -10px;
}

.card-dots {
  margin-bottom: 20px;
}

.card-btn {
  width: 85%;
  height: 45px;
}

.card1 {
  align-self: flex-start;
}

.card2 {
  align-self: center;
}

.card3 {
  align-self: flex-end;
}

/* FAQ ROW */

.faq-row {
  width: 50%;
  margin: 0 auto;
  border-top: 1px solid hsl(229, 8%, 60%);
}

.faq-box {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}

.faq-q {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-q:hover {
  cursor: pointer;
  color: hsl(229, 8%, 60%);
}

.faq-arrow {
  height: 30px;
  width: 30px;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.faq-a {
  color: hsl(229, 8%, 60%);
  padding-bottom: 20px;
}

.faq-btn {
  margin: 0 auto;
}

.info-btn {
  padding: 12px 27px;
  margin: 40px;
}

.position-btn {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*  EMAIL FOOTER */

.email-wrapper {
  width: 25vw;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  color: white;
}

.email-title {
  font-size: 1em;
  text-transform: uppercase;
}

.email-desc {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 50px;
}

.email-form {
  padding-top: 35px;
}

.email-form > input {
  height: 40px;
  width: 300px;
  padding-left: 15px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.email-form > input:focus {
  outline: none;
}

.email-btn {
  height: 40px;
  width: 125px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  border: none;
  background-color: hsl(0, 94%, 66%);
  box-shadow: 0 5px 10px rgba(83, 104, 223, 0.137);
}

.email-btn:focus {
  outline: none;
}

/* FOOTER */

footer {
  background-color: hsl(231, 69%, 60%);
  left: 0;
  position: absolute;
  width: 100%;
}

.ftr-cntr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: hsl(229, 31%, 21%);
}

.ftr-wrapper {
  width: 100%;
  padding: 40px 200px;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: white;
}

.ft-txt:hover {
  color: hsl(0, 94%, 66%);
}

.footer-interact {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrap {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .header {
    margin: 50px 15px 50px 15px;
  }

  .content-cntr {
    margin: 0 15px;
  }

  .top-btn {
    margin: 10px;
  }

  .tbPage-content {
    width: 100%;
  }

  .tb-img {
    width: 90%;
  }

  .left {
    height: 300px;
  }

  .info-btn {
    margin: 0;
  }

  .cards-row {
    width: 100%;
    height: 100%;
  }

  .card-cntr {
    width: 30%;
  }

  .card-dots {
    margin-bottom: 30px;
    width: 100%;
  }

  .faq-row {
    width: 95%;
  }

  .position-btn {
    width: 95%;
    margin: 50px 0;
  }

  .email-wrapper {
    width: 75vw;
  }

  .ftr-wrapper {
    padding: 40px 15px;
  }

  .footer-content {
    width: 82%;
  }

  .footer-socials > img {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .header-interact {
    display: none;
  }

  .header {
    margin: 0;
  }

  .header-logo {
    padding: 10px;
  }

  .content-cntr {
    margin: 0;
  }

  .top-row {
    flex-direction: column-reverse;
  }

  .top-panel1 {
    width: 90%;
    text-align: center;
  }

  .top-btn {
    width: 40%;
  }

  .top-btn:focus {
    outline: none;
  }

  .tp-l {
    border: none;
    color: white;
    background-color: hsl(231, 69%, 60%);
  }

  .tp-l:focus {
    color: white;
  }

  .tp-r {
    border: none;
    color: hsl(229, 8%, 60%);
    background-color: white;
  }

  .top-panel2 > img {
    width: 100%;
  }

  .blue-blob {
    height: 200px;
    width: 80%;
  }

  .right {
    margin: 65px 0;
  }

  .txt-dvdr {
    width: 90%;
  }

  .txt-dvdr-title {
    font-size: 1.5em;
  }

  .txt-dvdr > p {
    font-size: 0.9em;
    line-height: 25px;
  }

  .tb-cntr {
    height: 100%;
  }

  .tb-selectors {
    width: 90%;
    flex-direction: column;
    text-align: center;
    border: none;
    border-top: 1px solid hsla(229, 8%, 60%, 0.5);
  }

  .tbSelector {
    width: 100%;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.5);
    position: relative;
  }

  .tbSelector:focus {
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.5);
  }

  .tbSelector:focus:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 15px;
    width: 40%;
    border-bottom: 3px solid hsl(0, 94%, 66%);
  }

  .tbPage-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .tb-content {
    width: 90%;
    text-align: center;
  }

  .tb-content > img {
    width: 100%;
    margin-bottom: 60px;
  }

  .tb-content > p {
    margin: 0;
  }

  .cards-row {
    height: 100%;
    width: 90%;
    flex-direction: column;
  }

  .card-cntr {
    width: 80%;
    margin-top: 50px;
    align-self: center !important;
  }

  .card1 {
    margin-top: 0;
  }

  .faq-row {
    width: 90%;
  }

  .info-btn {
    margin: 40px 0;
  }

  .email-wrapper {
    width: 90%;
  }

  .email-form {
    width: 80%;
    margin: 0 auto;
  }

  .email-form > input {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .email-btn {
    margin-top: 15px;
    width: 100%;
  }

  .ftr-wrapper {
    padding: 15px 0;
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    margin: 0 auto;
  }

  .ft-logo-box {
    padding: 15px 0;
  }

  .footer-content > .header-interact {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-socials {
    margin: 0 auto;
    padding: 25px 0;
  }

  .footer-socials > img {
    margin: 0 10px;
  }

  /* HAMBURGER ANIMATION */

  /* MENU STYLES */
  .menu-wrap {
    display: block;
    position: fixed;
    top: -15px;
    right: 60px;
    z-index: 1;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: -60px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 5px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 15;
    top: 0;
    width: 100%;
    height: 5px;
    background: black;
  }

  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
    color: #fff;
  }

  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: white;
  }

  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
    background: white;
  }

  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
    background: white;
  }

  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(229, 31%, 21%, 0.875);
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  .menu-list {
    padding: 0;
  }
}
